<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<error-page>
		<error-code>500</error-code>
		<location>/day5/errorCode_error.jsp</location>
	</error-page>
	<error-page>
		<excption-type>java.lang.Exception</excption-type>
		<location>/day5/exceptionType_error.jsp</location>
	</error-page>
</web-app>